<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Student List</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Student List</h1>
		<hr />
		<a th:href="@{/students/new}" class="btn btn-success">New Student</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Name</th> 
					<th>Email</th> 
					<th>Registration</th> 
					<th>Module</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${listStudent}">
					<td th:text="${student.name}"></td> 
					<td th:text="${student.email}"></td> 
					<td th:text="${student.registration}"></td>
					<td th:text="${student.module}"></td>  
					<td>
							<a th:href="@{/students/{id}(id = ${student.id})}" class="btn btn-primary  >Show</a> 
					 		<a th:href="@{/students/{id}/edit(id = ${student.id})}" class="btn btn-info >Edit</a> 
					 		<a th:href="${'students/'+ student.id +'/delete'}" class="btn btn-danger">Destroy</a>
					</td>
				</tr>
			</tbody>
		</table>
	  </div>
	  
	  
</body>
</html>