<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New Principal</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${principal.id == null}">New Principal</h1>
		<h1 th:if="${principal.id != null}">Edit Principal</h1>
		<hr />
		<form th:action="@{/principals}"
			th:method="@{${principal.id == null} ? 'post' : 'put'}"
			th:object="${principal}">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="name">Name</label> <input id="name" name="name"
					type="text" class="form-control" th:field="*{name}" />
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input id="email" name="email"
					type="text" class="form-control" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label for="registration">Registration</label> <input
					id="registration" name="registration" type="text"
					class="form-control" th:field="*{registration}" />
			</div>
			 
			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{/principals}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>