<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Gela Natal</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Seja bem vindo ao melhor site de promoções de bebidas de
			Natal-RN</h1>
	</div>
</body>
</html>
