<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Login</title>
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${param.error}">Usuário e/ou senha inválidos.</div>
		<div th:if="${param.logout}">Desconectado.</div>
		<form th:action="@{/login}" method="post">
			<div>
				<label> Usuário: <input type="text" name="username" />
				</label>
			</div>
			<div>
				<label> Senha : <input type="password" name="password" />
				</label>
			</div>
			<div>
				<input type="submit" value="Entrar" />
			</div>
		</form>
	</div>
</body>
</html>